/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
    color: #333;
}

header {
    background-color: #007bff;
    color: white;
    padding: 10px;
    text-align: center;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    transition: opacity 0.3s ease-in-out;
}

/* Login */
.login-container,
.dashboard {
    display: none;
}

.active {
    display: block;
}

/* Login Form */
form {
    display: flex;
    flex-direction: column;
}

label,
input,
button {
    margin: 10px 0;
}

button {
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}

/* Dashboard */
nav {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

nav button {
    background-color: #6c757d;
    padding: 10px;
    border-radius: 4px;
    color: white;
}

nav button.active-tab {
    background-color: #007bff;
}

section {
    display: none;
    transition: opacity 0.3s ease-in-out;
}

section.active-tab {
    display: block;
    opacity: 1;
}

/* Tablas */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

table th,
table td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
}

table th {
    background-color: #f8f9fa;
}

/* Botones */
#agregarPedidoBtn,
button.editar,
button.eliminar {
    padding: 10px 20px;
    margin-bottom: 20px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#agregarPedidoBtn {
    background-color: #28a745;
    color: white;
}

#agregarPedidoBtn:hover {
    background-color: #218838;
}

button.editar {
    background-color: #ffc107;
    color: white;
}

button.editar:hover {
    background-color: #e0a800;
}

button.eliminar {
    background-color: #dc3545;
    color: white;
}

button.eliminar:hover {
    background-color: #c82333;
}
